<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<div class="container">
    <div class="jumbotron">

    <h1>{{ header_1 }}</h1>
    </div>

    <div class="container">



    <p>{{ info }} </p>
         </div>

    <div class="container">


    <ul>

        {% for e in elements.all %}
        <li>{{ e.group_name }} -- {{ e.week_day }} -- {{ e.hour }} -- {{ e.room }} -- {{ e.teacher.user.full_name}}</li>
        {% endfor %}
    </ul>

    </div>
    <p><a href="{% url 'timetable:s_page' %}"> Back </a></p>
    <p><a href="{% url 'timetable:logout' %}"> Logout </a></p>
    <p></p>
    <p></p>
    <p></p>
</div>

</body>
</html>
