<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<div class="container">
    <div class="jumbotron">

    <h1>{{ header_1 }}</h1>

    <h2> {{ person.full_name }} </h2>
    </div>

    <div class="container">


    <ul>
        <p> {{ user_type }}'s last name: {{ person.user.last_name }} </p>
        <p> {{ user_type }}'s first name: {{ person.user.first_name }} </p>
        <p> {{ user_type }}'s middle name: {{ person.user.middle_name }} </p>
        {% if user_type == 'student' %}
        <p> {{ user_type }}'s class: {{ person.my_class }} </p>
        {% else %}
        <p> {{ user_type }}'s subject: {{ person.subject }} </p>
        {% endif %}
    </ul>

    </div>

    {% if user_type == 'student' %}
    <p><a href="{% url 'timetable:s_page' %}"> Back </a></p>
    {% else %}
    <p><a href="{% url 'timetable:t_page' %}"> Back </a></p>
    {% endif %}

    <p><a href="{% url 'timetable:logout' %}"> Logout </a></p>


    <p></p>
    <p></p>
    <p></p>
</div>

</body>
</html>
