<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<div class="container">
    <div class="jumbotron">

        <h1> {{ user_type }} PAGE!</h1>

        {% if user.is_authenticated %}
        <h2> Welcome {{ user.username }}!!!</h2>
        {% endif %}

    </div>

    <div class="container">

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
    </div>

    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <p><strong>{{ message }}</strong></p>
        {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <p> Chose what to do: </p>
    </div>


    <div class="container">

        <ul>
            {% for option in options %}
            <li><a href="{{ option.0 }}">{{ option.1 }} </a></li>
            {% endfor %}

            {% if user_type == "STUDENT" %}
            <li><a href="{% url 'timetable:s_page' %}"> Back </a></li>
            {% else %}
            <li><a href="{% url 'timetable:t_page' %}"> Back </a></li>
            {% endif %}
            <li><a href="{% url 'timetable:logout' %}"> Logout </a></li>

        </ul>

    </div>
</div>
</body>
</html>
